.login {
    background-color: #fff;
}

.login h1 a {
    background-image: none, url('../img/logo.png');
    background-size: auto auto;
    width: auto;
    height: auto;
    margin-bottom: 15px;    
    line-height: 3.3em;
}